.alerts{
    width: auto;
    height: auto;
    background-color: white;
}

.half{
    float:left;
    width:20%;
    margin-left:30%;
}
.half2{
    float:left;
    width:20%;
}
.half3{
    float: left;
    width: 30%;
}